workflows/2_main_ai_agent.json
{
  "name": "2_Main_AI_Agent_Booking",
  "nodes": [
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Start"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -144,
        256
      ],
      "id": "fc38be23-3345-4bff-9044-9bf07692faee",
      "name": "Message Type Router"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        192
      ],
      "id": "45226432-2c12-40ea-abb5-65016b8298b7",
      "name": "Get Voice File",
      "credentials": {
        "telegramApi": {
          "id": "[YOUR_TELEGRAM_CREDENTIAL_ID]",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": "ru"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        288,
        192
      ],
      "id": "e73ead00-5322-4117-8433-4004b8abcaaf",
      "name": "Whisper Transcribe",
      "credentials": {
        "openAiApi": {
          "id": "[YOUR_OPENAI_CREDENTIAL_ID]",
          "name": "OpenAI Connection"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ec5dc6b-6344-4cf0-af92-03c7d669116a",
              "name": "text",
              "value": "={{ $json.text || $json.message?.text || $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        288
      ],
      "id": "0b7881de-c034-461c-bb51-5c400431f4cf",
      "name": "Standardize Text Input"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Standardize Text Input').item.json.text }}",
        "options": {
          "systemMessage": "=# РОЛЬ\nТы — Алекс, вежливый и профессиональный ассистент компании EventFlow.\n[PROMPT_TRUNCATED_FOR_SECURITY_BUT_PRESERVED_IN_ORIGINAL]",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        928,
        304
      ],
      "id": "16cb63ad-43f2-48f2-a939-b3828bd4949d",
      "name": "EventFlow AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        352,
        496
      ],
      "id": "39722abc-93de-42e3-aa64-5a50073cecbf",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "[YOUR_OPENAI_CREDENTIAL_ID]",
          "name": "OpenAI Connection"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 5
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        512,
        496
      ],
      "id": "5ef4caa4-5201-492b-aa95-dd89bff67309",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Используй этот инструмент ВСЕГДА когда пользователь задаёт вопрос про компанию.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1072,
        528
      ],
      "id": "f0846c90-1844-4928-9051-32578b1e1bc2",
      "name": "Tool: Supabase RAG Search",
      "credentials": {
        "supabaseApi": {
          "id": "[YOUR_SUPABASE_CREDENTIAL_ID]",
          "name": "Supabase Connection"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Вызывай этот инструмент ТОЛЬКО когда клиент подтвердил бронирование и ты уже собрал ФИО и email.",
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "[YOUR_GOOGLE_SHEETS_DOCUMENT_ID]",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Город": "={{ $fromAI('city', 'Город', 'string') }}",
            "Email": "={{ $fromAI('email', 'Email', 'string') }}",
            "ФИО": "={{ $fromAI('name', 'ФИО', 'string') }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        944,
        512
      ],
      "id": "5fd3d522-92a6-486e-9c72-72fcce09f68b",
      "name": "Tool: Record Booking",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "[YOUR_GOOGLE_SHEETS_CREDENTIAL_ID]",
          "name": "Google Sheets Connection"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        320
      ],
      "id": "1f5b9bd2-6c79-4eba-952e-2fff988d20d8",
      "name": "Telegram Response",
      "credentials": {
        "telegramApi": {
          "id": "[YOUR_TELEGRAM_CREDENTIAL_ID]",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -352,
        272
      ],
      "id": "e9ddb059-5fd2-47f9-a695-0196541de619",
      "name": "Telegram Trigger",
      "credentials": {
        "telegramApi": {
          "id": "[YOUR_TELEGRAM_CREDENTIAL_ID]",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Message Type Router": {
      "main": [
        [],
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Standardize Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Whisper Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper Transcribe": {
      "main": [
        [
          {
            "node": "Standardize Text Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standardize Text Input": {
      "main": [
        [
          {
            "node": "EventFlow AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EventFlow AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "EventFlow AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "EventFlow AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Supabase RAG Search": {
      "ai_tool": [
        [
          {
            "node": "EventFlow AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Record Booking": {
      "ai_tool": [
        [
          {
            "node": "EventFlow AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Message Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
